:root {
	--dark-grey-color: #333333;
	--lightdark-grey-color: #424242;
	--darklight-grey-color: #969696;
	--light-grey-color: #e7e7e7;
	--grey-color: #f2efff;
	--done-green-color: #27ae60;
	--light-done-green-color: #2dc76d;
	--verylight-done-green-color: #39eb83;
	--delete-red-color: #eb5757;
	--light-delete-red-color: #eb5e5e;
	--verylight-delete-red-color: #ff6b6b;
}

body {
	background-color: white;
}

* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: var(--light-grey-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background:var(--lightdark-grey-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: var(--dark-grey-color);
  }

.catchUsername {
	width: 100vw;
	height: 80vh;
	background-color:white;
	z-index: 3;
	position: fixed; 
	display: none;
	justify-content: center;
	align-items: center; 
	padding-bottom: 20vh;
}

.catchUsername .container {
	width: 100vw;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.catchUsername .nameContainer {
	width: 100vw;
	height: 115px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 10px;
}

.catchUsername .nameContainer p{
	width: 286px;
	font-size: 48px;
	color: var(--dark-grey-color);
}

.catchUsername .nameContainer input{
	outline: none;
	box-shadow: inset 0px -4px 0px var(--dark-grey-color);
	font-size: 48px;
	text-align: center;
	color: var(--dark-grey-color);
	width: 400px;
	height: 48px;
}

.catchUsername .buttonContainer {
	width: 100vw;
	height: 115px;
	display: flex;
	justify-content: center;
}

.catchUsername .buttonContainer button{
	background-color: var(--dark-grey-color);
	width: 312px;
	height: 70px;
}

.catchUsername .buttonContainer button p{
	font-size: 48px;
	color: white;
	margin-bottom: -10px;
}













.usernameContainer {
	width: 100vw;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.usernameContainer p {
	cursor: default;
	font-size: 24px;
	color: var(--dark-grey-color);
}

.mainTitleContainer {
	/* background-color: aquamarine; */
	width: 100vw;
	height: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.mainTitleContainer p {	
	cursor: default;
	margin-bottom: -8px;
	font-size: 100px;
	color: var(--dark-grey-color);
}

.mainTitleContainer svg {
	height: 2px;
	width: 364px;
	align-self: center; 
}

@media screen and (max-width: 600px) {
	.usernameContainer {
		width: 100vw;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mainTitleContainer p {	
		cursor: default;
		margin-bottom: -8px;
		font-size: 17vw;
		color: var(--dark-grey-color);
	}

	.mainTitleContainer svg {
		height: 2px;
		width: 60%;
		align-self: center; 
	}
}

.mainTitleContainer svg line {
	stroke:#333333;
	stroke-width: 5px;
}

.addNewTaskContainer {
	width: 100vw;
	height: 60px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.addNewTaskContainer .newTaskBox {
	display: flex;
	width: 295px;
	height: 36px;
}


.addNewTaskContainer .newTaskBox input {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 259px;
	height: 36px;
	color: var(--dark-grey-color);	
	background-color: var(--light-grey-color);
	font-size: 24px;
	text-align: center;
}

.addNewTaskContainer .newTaskBox input:focus {
	/* outline: none !important; */
	outline: 2px solid var(--dark-grey-color);
	color: var(--dark-grey-color);
}

.addNewTaskContainer .newTaskBox .button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	background-color: var(--dark-grey-color);
	width: 36px;
	height: 36px;
}

.addNewTaskContainer .newTaskBox .button img{
	color: var(--light-grey-color);
}

.tasksToDoContainer {
	display: flex;
	width: 100vw;
	justify-content: center;
}

.tasksToDo {
	width: 100%;
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(auto-fit, 330px);
	margin: 24px;
	padding: 4px;
	justify-content: center;

}

.tasks {
	width: 330px;
	height: 112px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: rgb(226, 215, 55);
	transition: 0.2s;
}

.tasks:hover {
	box-shadow: 4px 4px var(--dark-grey-color);
}

.tasks .taskHeader {
	margin-top: 7px;
	margin-bottom: 7px;
	width: 316px;
	height: 20px;
	display: flex;
	justify-content: space-between;
}

.tasks .taskHeader .changeColorButton {
	width: 14px;
	height: 14px;
	overflow: hidden;
	background-color: var(--dark-grey-color);
}

.tasks .taskHeader p {	
	cursor: default;
	font-size: 18px;
	overflow: hidden;
}

.tasks .taskContent {
	overflow-y: hidden;
	width: 302px;
	height: 50px;
	/* background-color: #fff; */
	display: flex;
	align-items: flex-start;
}

.tasks .taskContent p {	
	cursor: default;
	font-size: 24px;
}


.tasks .doneButton {
	width: 0px;
	height: 28px;
	opacity: 0;
	align-self: flex-end;
	background-color: var(--done-green-color);
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.2s;
	outline: none;
}

.tasks .doneButton:hover {
	background-color: var(--light-done-green-color);
}

.tasks .doneButton:active {
	background-color: var(--verylight-done-green-color);
}

.tasks .doneButton p {
	margin-bottom: -5px;
	color: white;
	
}

.showFinishedButtonContainer {
	width: 100vw;
	height: 36px;
	display: flex;
	justify-content: flex-end;
}

.showFinishedButtonContainer button {
	width: 170px;
	height: 36px;
	background-color: var(--dark-grey-color);
	margin-right: 36px;
	transition: 0.2s;
	outline: none;
}

.showFinishedButtonContainer button:hover {
	cursor: pointer;
	background-color: var(--lightdark-grey-color);
}

.showFinishedButtonContainer button:active {
	cursor: pointer;
	background-color: var(--darklight-grey-color);
}

.showFinishedButtonContainer button p {
	color: var(--light-grey-color);
	font-size: 18px;
}

.tasksDoneContainer {
	display: none;
	width: 100vw;
	justify-content: center;
}

.tasksDone {
	width: 100%;
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(auto-fit, 330px);
	margin: 24px;
	padding: 4px;
	justify-content: center;

}

.finishedTasks {
	width: 330px;
	height: 112px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	opacity: 90%;
	background-color: rgb(226, 215, 55);
	transition: 0.2s;
}

.finishedTasks:hover {
	box-shadow: 4px 4px var(--dark-grey-color);
}

.finishedTasks .taskHeader {
	margin-top: 7px;
	margin-bottom: 7px;
	width: 316px;
	height: 20px;
	display: flex;
	justify-content: space-between;
}

.finishedTasks .taskHeader .changeColorButton {
	width: 14px;
	height: 14px;
	overflow: hidden;
	background-color: var(--dark-grey-color);
}

.finishedTasks .taskHeader p {	
	cursor: default;
	font-size: 18px;
	overflow: hidden;
}

.finishedTasks .taskContent {
	overflow-y: hidden;
	width: 302px;
	height: 50px;
	display: flex;
	align-items: flex-start;
}

.finishedTasks .taskContent p {	
	text-decoration: line-through;
	cursor: default;
	font-size: 24px;
}

.finishedTasks .doneButton {
	width: 74px;
	height: 28px;
	align-self: flex-end;
	background-color: var(--delete-red-color);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.finishedTasks .doneButton:hover {
	background-color: var(--light-delete-red-color);
}

.finishedTasks .doneButton:active {
	background-color: var(--verylight-delete-red-color);
}

.finishedTasks .doneButton p {
	font-size: 24px;
	color: white;
	margin-bottom: -5px;
}